<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Macros</title>
</head>

<body>
    {% macro load_navbar(user = None) %}
    <div class="header">
        <div class="container">
            <h1>Virtual Wallet</h1>
            <nav class="nav">
                <form action="/" method="get">
                    <button class="nav-btn">Home</button>
                </form>
                {% if user %}
                <form action="/users/dashboard" method="get">
                    <button class="nav-btn" id="dashboardBtn">Dashboard</button>
                </form>

                <form action="/users/settings" method="get">
                    <button class="nav-btn" id="settingsBtn">Settings</button>
                </form>

                {% if user.is_admin %}
                <form action="/admin/users" method="get">
                    <button class="nav-btn" id="adminBtn">Admin Panel</button>
                </form>
                {% endif %}

                <div class="nav-divider"></div>

                <div class="user-profile">
                    <img class="user-avatar" src="{{ user.avatar_url or '/static/images/default_user_avatar.png' }}"
                        alt="User Avatar">
                    <span class="welcome-text">{{user.username}}</span>
                </div>

                <form action="/users/logout" method="get">
                    <button class="nav-btn" id="logoutBtn">Logout</button>
                </form>

                {% else %}
                <form action="/users/login" method="get">
                    <button class="nav-btn" id="loginBtn">Login</button>
                </form>

                <form action="/users/register" method="get">
                    <button class="nav-btn" id="registerBtn">Register</button>
                </form>
                {% endif %}
            </nav>
        </div>
    </div>
    {% endmacro %}

    {% macro load_footer() %}
    <footer style="text-align: center; margin-top: 2em; margin-bottom: 2em; color:#888;">
        &copy; 2025 Virtual Wallet &mdash; Built with FastAPI & MariaDB
    </footer>
    {% endmacro %}
</body>

</html>